<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<body class="bg-light text-dark">

<div th:insert="../templates/navbar.html :: navbar">  </div>

<!--<h1>-->
<!--    <div style="text-align: center;">Posts</div>-->
<!--</h1>-->
<!--<p>Your user ID is: <span th:text="${userId}"></span></p>-->

<h1>
      <div style="text-align: center;">Posts</div>
</h1>

<form action="#" th:action="@{/posts}" th:object="${post}" method="post">
    <div class="card mb-3" style="width: 40%; margin: auto; margin-top: 10px;">
        <div class="card-body">
            <div class="d-flex mb-3">
                <img src="/images/user.png" class="rounded-circle me-3" alt="User Profile" style="width: 50px; height: 50px;">
                <div class="w-100">
                    <div sec:authorize="isAuthenticated()" id="greeting">
                        <span sec:authentication="principal.attributes['email']" class="fw-bold">
                        </span>
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Share your thoughts..." th:field="*{content}"></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Post</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </div>
</form>


<div th:insert="fragments/postcards :: postcards"></div>
<div th:insert="fragments/confirmation :: confirmation"></div>
<div th:insert="fragments/edit :: edit"></div>
<div th:insert="fragments/confirmation_comment :: confirmation_comment"></div>
<div th:insert="fragments/edit_comment :: edit_comment"></div>
<div th:insert="fragments/new_comment :: new_comment"></div>
<div th:insert="fragments/footer :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
        const setLike = (postId) => {
            console.log("Post id:",postId);
            var image = document.getElementById(postId);
            if (image.src.includes('hand-thumbs-up.svg')) {
                image.src = '/images/hand-thumbs-up-fill.svg';
                // Add a record to the likes table
            } else {
                image.src = '/images/hand-thumbs-up.svg';
                // Delete record from the likes table
            }
            var myUserId = /*[[${userId}]]*/ 'default';
            console.log("User id:",myUserId);
        };

        const setNewComment = (postId)=> {
            commentPostId = postId;
        }

        const setPostId = (postId)=> {
            postDeleteId = postId;
        };

        const setCommentId = (commentId)=> {
            commentDeleteId = commentId;
        };

        const setPostEdit = (postId, postContent)=> {
            postEditId = postId;
            document.getElementById("postContentEdit").value = postContent;
        }

        const setCommentEdit = (commentId, commentContent)=> {
            commentEditId = commentId;
            document.getElementById("commentContentEdit").value = commentContent;
        }

        const newComment = async() => {
            console.log(commentPostId);
            commentContent = document.getElementById("commentContent").value;
            console.log(commentContent);
            if (!commentPostId || !commentContent){
                return "Post id or content is not set";
            }
            try {
                const formData = new FormData();
                formData.append("content", commentContent);
                formData.append("postId", commentPostId);
                const requestOptions = {
                    method: 'POST',
                    body: formData
                };
                await fetch(`/comments`, requestOptions);
                window.location.href = "/";
            }catch(error){
                console.log("Error:",error);
            }
        };

        const editPost = async() => {
            console.log(postEditId);
            updatedPostContent = document.getElementById("postContentEdit").value;
            console.log(updatedPostContent);
            if (!postEditId || !updatedPostContent) {
                return "Post id or content is not set";
            }
            try {
                const formData = new FormData();
                formData.append("content", updatedPostContent);
                const requestOptions = {
                    method: 'PUT',
                    body: formData
                };
                await fetch(`/posts/${postEditId}`, requestOptions);
                window.location.href = "/";
            }catch(error){
                console.log("Error:",error);
            }
        };

        const editComment = async() => {
            console.log(commentEditId);
            updatedCommentContent = document.getElementById("commentContentEdit").value;
            console.log(updatedCommentContent);
            if (!commentEditId || !updatedCommentContent) {
                return "Comment id or content is not set";
            }
            try {
                const formData = new FormData();
                formData.append("content", updatedCommentContent);
                const requestOptions = {
                    method: 'PUT',
                    body: formData
                };
                await fetch(`/comments/${commentEditId}`, requestOptions);
                window.location.href = "/";
            }catch(error){
                console.log("Error:",error);
            }
        };

        const deletePost = async () => {
            console.log(postDeleteId);
            if (!postDeleteId) {
                return "Post id is not set";
            }
            try {
                await fetch(`/posts/${postDeleteId}`, {
                    method: 'DELETE',
                    headers:
                        { 'Content-type':'application/json' }
                });
                window.location.href = '/';
            }catch(error){
                console.log("Error: ",error);
            }
        }

        const deleteComment = async () => {
            console.log(commentDeleteId);
            if (!commentDeleteId) {
                return "Comment id is not set";
            }
            try {
                await fetch(`/comments/${commentDeleteId}`, {
                    method: 'DELETE',
                    headers:
                        { 'Content-type':'application/json' }
                });
                window.location.href = '/';
            }catch(error){
                console.log("Error: ",error);
            }
        }
    /*]]>*/
</script>

</body>
</html>
