<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<body class="bg-light text-dark">

<div th:insert="../templates/navbar.html :: navbar">  </div>

<!--<h1>-->
<!--    <div style="text-align: center;">Posts</div>-->
<!--</h1>-->
<!--<p>Your user ID is: <span th:text="${userId}"></span></p>-->

<form action="#" th:action="@{/posts}" th:object="${post}" method="post">
    <div class="card mb-3" style="width: 40%; margin: auto; margin-top: 10px;">
        <div class="card-body">
            <div class="d-flex mb-3">
                <img src="/images/user.png" class="rounded-circle me-3" alt="User Profile" style="width: 50px; height: 50px;">
                <div class="w-100">
                    <div sec:authorize="isAuthenticated()" id="greeting">
                        <span sec:authentication="principal.attributes['email']" class="fw-bold">
                        </span>
                    </div>
                    <textarea class="form-control" rows="3" placeholder="Share your thoughts..." th:field="*{content}"></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Post</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </div>
</form>


<div th:insert="fragments/postcards :: postcards"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
        const setLike = (postId) => {
            console.log("Post id:",postId);
            var image = document.getElementById(postId);
            if (image.src.includes('hand-thumbs-up.svg')) {
                image.src = '/images/hand-thumbs-up-fill.svg';
            } else {
                image.src = '/images/hand-thumbs-up.svg';
            }
            var myUserId = /*[[${userId}]]*/ 'default';
            console.log("User id:",myUserId);
        };

        const editPost = (postId) => {
            console.log(postId);
        };
    /*]]>*/
</script>

</body>
</html>
