name: Java CI with Maven

on:
  push:
    branches: [ "final_demo" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

env:
  JDBC_CONNECTION: ${{ vars.JDBC_CONNECTION }}
  JDBC_USER_NAME: ${{ vars.JDBC_USER_NAME }}
  JDBC_PASSWORD: ${{ vars.JDBC_PASSWORD }}
  OKTA_ISSUER_URL: ${{ vars.OKTA_ISSUER_URL }}
  OKTA_CLIENT_ID: ${{ vars.OKTA_CLIENT_ID }}
  OKTA_CLIENT_SECRET: ${{ vars.OKTA_CLIENT_SECRET }}
  E2_PUBLIC_ENDPOINT: ${{ vars.E2_PUBLIC_ENDPOINT }}
  E2_ENDPOINT: ${{ vars.E2_ENDPOINT }}
  E2_BUCKET_NAME: ${{ vars.E2_BUCKET_NAME }}
  E2_ACCESS_KEY: ${{ vars.E2_ACCESS_KEY }}
  E2_SECRET_KEY: ${{ vars.E2_SECRET_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build Docker image
      run: docker build -t jacebook-app:latest .

      # Tag the Docker image for Docker Hub
    - name: Tag Docker image
      run: docker tag jacebook-app:latest ${{ secrets.DOCKER_USERNAME }}/jacebook-app:latest

    # Push the Docker image to Docker Hub
    - name: Push Docker image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/jacebook-app:latest
    - name: Deploy
      # Only run this step if the branch is main
      if: github.ref == 'refs/heads/final_demo'
      env:
        deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
      run: |
          curl "$deploy_url"

    # - name: Update dependency graph
    #   uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
    #   with:
    #     token: ${{ secrets.PAT_TOKEN }}  # Ensure token is passed explicitly
